@charset "UTF-8";
/* This file is for any custom css you need to use */
    .badge-custom-success {
    background-color: #28a745; /* Your desired background color */
    color: #fff; /* Your desired text color */
}

.container-fluid {
    --bs-gutter-x: 0; /* Set gutter-x to 0 to remove horizontal gutters */
    --bs-gutter-y: 0; /* Set gutter-y to 0 to remove vertical gutters */
}
    
